$contrast-color: #00d8ff;
$border-color: #a1a1a1;
$border-color2: #c9c9c9;
$bg-dark-color: #333333;
$footer-color: #007acc;
$footer-hover: #0c8de2;
$bg-clear-color: #1e1e1e;
$default-color: white;
$sidebar-color: #333333;
$header_background:#3d3b3b;
$header_hover:#4b4848;
$tabs_background: #252526;
$primary-font: "JetBrains Mono", monospace;
$secondary-font: "Source Sans Pro", sans-serif;
$terceary-font: "Fira Code", monospace;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  overflow: hidden;
}

@mixin imgHover {
  position: relative;
  transition: transform 0.5s;
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
  }
}

@mixin reset-button {
  border: none;
  background-color: transparent;
}

@mixin footer-hover {
  background-color: $footer-hover;
  color: white;

  svg {
    fill: white;
  }
}

@mixin subtitle {
  color: $contrast-color;
  font-family: $terceary-font;
  font-size: 20px;

  @media screen and (min-width: 500px) {
    font-size: 23px;
  }
}

@mixin title {
  color: $default-color;
  font-family: $primary-font;
  font-weight: 900;
  font-size: 30px;
  letter-spacing: 1px;

  @media screen and (min-width: 500px) {
    font-size: 33px;
  }
}

@mixin cta {
  @include reset-button;
  padding: 12px;
  border: 2px solid $contrast-color;
  color: $contrast-color;
  font-size: 17px;
  cursor: pointer;
  width: fit-content;
  text-decoration: none;
  font-family: $secondary-font;
  transition: background-color 0.5s;

  &:hover {
    background-color: $contrast-color;
    color: $bg-dark-color;

    svg {
      fill: $bg-dark-color;
    }
  }

  @media screen and (min-width: 500px) {
    font-size: 20px;
  }
}

@mixin scrollDown {
  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: $default-color;
    border-radius: 9px;
  }
}

@mixin wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 35px auto;
}

@mixin card {
  background-color: $bg-dark-color;
  padding: 18px 12px;
  border-radius: 9px;
}

@mixin highlightedText {
  display: inline-block;
  padding: 3px 5px;
  font-family: $terceary-font;
}

@mixin grid {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;

  @media screen and (min-width: 735px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (min-width: 1060px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

@import "./containers/Layout/Layout.scss";
@import "./containers/Tabs/Tabs.scss";
@import "./containers/Links/Links.scss";
@import "./containers/Tags/Tags.scss";

@import "./components/SidebarButton/SidebarButton.scss";
@import "./components/RepoCard/RepoCard.scss";
@import "./components/ProjectCard/ProjectCard.scss";
@import "./components/BlogCard/BlogCard.scss";
@import "./pages/NoPage/NoPage.scss";
@import "./pages/Home/Home.scss";
@import "./pages/Github/Github.scss";
@import "./pages/Projects/Projects.scss";
@import "./pages/Blog/Blog.scss";
@import "./pages/Education/Education.scss";
@import "./pages/Contact/Contact.scss";
@import "./pages/NotFound/NotFound.scss";
@import "./pages/Settings/Settings.scss";
@import "./pages/User/User.scss";
